
body{background-color:  blanchedalmond;}

/* .....................Header(title and nav bar) */
nav{background-color: grey;border-radius: 5px;text-align: center;}
h1{display: inline-block;font-size: xx-large;color: blue;padding: 20px;}
ul li a{text-decoration: none;color: rgb(39, 163, 39);font-size: 20px;padding: 5px;}
#salsNav li{display: inline-block;background-color: greenyellow;border-radius: 7px;margin: 30px;}
#salsNav li:hover{background-color: indigo;color: black;}

/* Results Table */
table{color: crimson;border:1px solid blueviolet;border-radius: 3px;margin-left: 230px;margin-top: 30px;}
table tr th{color:chocolate;text-align: center;padding: 5px;border: 1px solid rgb(39, 163, 39);}
table tr td{color: blue;text-align: center;padding: 5px;border:1px solid black;}
table tr td:hover{border: 1px dotted brown;color: cyan;}
table tr th:hover{border: 1px dotted coral;color: darkorchid;}

/* ....Form  */
form{width: 200px;margin-left: 500px;background-color:gold}
legend{color: forestgreen;}
input{background-color: brown;}